title{ text-align: center;
font-size: large;
font-style: normal;
}
body{background-color: white;
font-weight: normal;
margin: auto;
box-shadow: none;
}
h1{text-align: center;
font-size: medium;
font-style: italic;
margin: auto;
}
p{font-size: medium;
font-weight: bolder;
font-style: normal;
}
ol{text-align: center;
font-size: medium;
font-style: italic;
}
ul{text-align: center;
font-size: medium;
font-style: italic;
}
footer{text-align: center;
font-size: small;
font-style: inherit;
text-indent: 5%;
}