*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
    color: #000;
    line-height: 1.5;
    padding: 8%;
}
header{
    background: none;
    color:black;
    text-align: center;
    padding: auto;
}
label{
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #000;
}
section#cities{
    display: block;
    margin: 10px;
    padding: 8px;
    border: 1px solid;
    border-radius: 2px;
    width: 100px;
    margin-bottom: 10px;

}
main{
    max-width: 100%;
    margin: 2px;;
    background:gray;
    padding: 20%;
    border-radius: 8px;
    box-shadow: 4px;
}
form{
    margin-bottom: 30px;
    display: flex;
    padding: 8px;
    flex-direction: column;
    gap: 15px;
    border-radius: 5px;
}
form label{
    display: block;
    margin: 10px;
}
input,button{
    padding: 10px;
    margin: auto;
    width: 200px;;
    border:1px solid;
    border-radius: 5%;
}
input[type="submit"]:hover{
    background-color:blue;
}
button :hover{
    background: fixed;
    color: #000;
    border: #000;
    cursor: auto;
}
button:hover{
    background: fixed;
}
table{
    width: 100%;
    border-collapse: collapse;
}
table header{
    display: block;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}
th,td{
    border: 1px solid;
    padding: 8px;
    text-align: center;
}
th{
    background-color:white
}
footer{
    text-align: center;
    margin: top 6px;
    padding: 8px;
    background: fixed;
    color: #000;
}